dash==3.2.0
dash-bootstrap-components==2.0.4
plotly==6.3.0
duckdb==1.3.2
pandas==2.3.2
openpyxl==3.1.5
pyarrow==21.0.0
statsmodels==0.14.5
scikit-learn==1.7.1
python-dotenv==1.1.1
anthropic==1.5.0
Brotli==1.2.0
waitress==3.0.2
requests==2.34.2
pyproj==3.8.0
shapely==2.1.2
gunicorn
